<% #partial to display a selection of articles formatted for frontpage display %>

<div id="latest_articles">
<% @articles.each do |article| %>
  <div class="display_article">
    <h2 class="article_title"><%= link_to article.title, article_url(article) %></h2><% if admin_signed_in? %> - <%= link_to "edit", edit_article_path(article) %><% end %><br />
    <p class="author"><i>by <%= article.author %></i></p>
    <div class="publish_info">
      <p class="published_time">
        <i>published: <%= article.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
        <% if article.created_at != article.updated_at %>
        <br />(Modified: <%= article.updated_at.strftime("%m/%d/%Y at %I:%M%p") %>)
        <% end %></i>
      </p>
    </div>
    <div class="article_body"><%= markdown(article.content) %>
    </div>
  </div>
<% end %>
</div>
