<% #partial to display a selection of articles formatted for frontpage display %>

<div id="latest_articles">
<% @articles.each do |article| %>
  <div class="display_article">
    <h1 class="article_title">
      <%= link_to article.title.titleize, article_url(article) %>
    </h1>
    <% if admin_signed_in? %>
      &nbsp;<%= link_to "edit", edit_article_path(article) %>
    <% end %><br />
    <p class="author">
      <%= image_tag 'avatar.png', :size => "40x50", :class => "article-avatar" %><%= article.created_at == article.updated_at ? article.updated_at.strftime("%m/%d/%Y at %I:%M%p") : article.updated_at.strftime("%m/%d/%Y at %I:%M%p") %> by <b><%= link_to article.author, page_path("about") %></b>
    </p>
    <div class="article_body">
      <%= markdown(article.content) %>
    </div>
  </div>
<% end %>
</div>
