<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Published</th>
    <th>Created<br />(Last Modified)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.author %></td>
    <td><%= article.published %></td>
    <td>
      <%= article.created_at.strftime("%m/%d/%Y at %I:%M%p") %><br />
      (<%= article.updated_at.strftime("%m/%d/%Y at %I:%M%p") %>)
    </td>
    <td>
      <%= link_to 'Show Article', article %><br />
      <%= link_to 'Edit Article', edit_article_path(article) %><br />
      <%= link_to 'Delete Article', article, confirm: 'Are you sure? This is final!', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>