<h1>Index of Articles</h1>

<table id="article_table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created<br />(Last Modified)</th>
    <th>Author</th>
    <th>Published</th>
    <th>Actions</th>
  </tr>

<% @articles.each do |article| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><b><%= article.title %></b></td>
    <td><%= markdown(smart_truncate(article.content, :sentences => 1)) %></td>

    <td>
      <%= article.created_at.strftime("%m/%d/%Y at %I:%M%p") %><br />
      <% if article.created_at != article.updated_at %>
      (<%= article.updated_at.strftime("%m/%d/%Y at %I:%M%p") %>)
      <% end %>
    </td>
    <td><%= article.author %></td>
    <td>
    <%= render :partial => 'articles/publish_toggle', :locals => { :article => article } %>
    </td>
    <td>
      <%= link_to 'View', article %> | 
      <%= link_to 'Edit', edit_article_path(article) %><br />
      <%= link_to 'Delete', article, confirm: 'Are you sure? This is final!', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>