<div class="display_article">
  <article class="article">
    <header>
      <h3 class="article_title media-heading"><%= link_to @article.title, article_url(@article) %></h3>
      <% if admin_signed_in? %>
      <%= link_to "edit", edit_article_path(@article) %>
      <% end %>
    </header>
    <aside><%= list_tags(@article) %></aside>
    <%= markdown(@article.content) %>
  </article>
  <% if admin_signed_in? %>
  <p>
    <b>Published?</b> (Click to toggle.)<br />
    <%= render :partial => "publish_toggle", :locals => { :article => @article } %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>
  <%= link_to 'Home', root_url %>
</div>
