<div class="display_article">
  <div class="article_title_wrapper">
    <h1 class="article_title"><%= @article.title.titleize %></h1>
    <% if admin_signed_in? %>
      &nbsp;<%= link_to "edit", edit_article_path(@article) %><br />
    <% end %>
    <div class="author well">
      <p><%= @article.created_at == @article.updated_at ? @article.updated_at.strftime("%d/%m/%Y") : "Updated #{@article.updated_at.strftime("%d/%m/%Y")}" %> by <b><%= link_to @article.author, page_path("about") %></b><%= image_tag 'avatar.png', :size => "40x50", :class => "article-avatar" %></p>
    </div>
  </div>
  <div class="article_body">
    <%= markdown(@article.content) %>
  </div>

  <% if admin_signed_in? %>
  <p>
    <b>Published?</b> (Click to toggle.)<br />
    <%= render :partial => "publish_toggle", :locals => { :article => @article } %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>
  <%= link_to 'Home', root_url %>
</div>