<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<p>Written by <%= @article.author %> on <%= @article.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
      <% if @article.created_at != @article.updated_at %>
      (<i>Last Modified: <%= @article.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></i>)
      <% end %></p>
<p>
  <%= markdown(@article.content) %>
</p>

<% if admin_signed_in? %>
<p>
  <b>Published?</b> (Click to toggle.)
  <%= render :partial => "publish_toggle", :locals => { :article => @article } %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', root_url %>
