<div class="main_content">
<h1>About...</h1>
<h2>Me</h2>
<p>I am Pete.</p>
<p>I'm a 25-year-old IT Technician living in Cornwall, UK. I studied Computer Science at Cardiff University and I am interested in software development, American Football (both playing domestically and following the National Football League), surfing and fishkeeping.</p>
<p>I have been hobby programming for a number of years in Java, PHP and Ruby. I've also used Bash, Batch and Powershell scripting mostly in server administration roles.</p>
<p>If you would like to contact me please visit the <%= link_to "contact", contact_path %> page. A PDF version of my CV will be made available here shortly.</p>
<h2>The Site</h2>
<p>This site is intended as a place for me to talk about the process of learning Ruby on Rails. The application is self-built after using the <%= link_to "Agile Web Developement with Rails", "http://www.pragprog.com" %> and <%= link_to "Railstutorial.org", "http://www.railstutorial.org" %> tutorials to learn the basics. Along the way I've been using the excellent <%= link_to "RailsCasts", "http://www.railscasts.com" %> by Ryan Bates and my own project work to learn the Rails framework and Ruby programming language.</p>
<p>This site is built using:
<ul>
  <li>Ruby 1.9.3</li>
  <li>Rails 3.2.1 with
    <ul>
      <li>Devise 2.0</li>
      <li>High Voltage</li>
      <li>redcarpet with albino and nokogiri for markdown rendering</li>
      <li>high_voltage for static content</li>
    </ul>
  </li>
  <li>MySQL</li>
</ul>
Developed on Ubuntu with the <%= link_to "Sublime Text 2", "http://www.sublimetext.com" %> text editor. Hosting by <%= link_to "Webfaction", "http://www.webfaction.com?affiliate=wadtech" %>.
</p>

</div>