<%= form_for @contact, html: {class: 'form-horizontal'} do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prevented this message from being sent:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact_instructions">
    <p>If you wish to leave feedback about my site or contact me for any reason, please use the form below. If you would like me to contact you please leave details in the message body.</p>
    <p>Alternatively I can be contacted through <%= link_to "Twitter", "http://www.twitter.com/#{Settings.twitter.name}" %> or <%= link_to "Linkedin", "http://www.linkedin.com/in/#{Settings.linkedin.name}" %>.</p>
    <p>Thanks.</p>
  </div>
  <div class="field control-group">
    <%= f.label :subject, class: 'control-label' %>
    <div class="controls"><%= f.text_field :subject %></div>
  </div>
  <div class="field control-group">
    <%= f.label :content, 'Your message', class: 'control-label' %>
    <div class="controls"><%= f.text_area :content, :col => 40, :rows => 15 %></div>
  </div>

  <%= f.hidden_field :source_ip %>
  <%= f.hidden_field :archived, value: false %>

  <div class="actions">
    <div class="controls"><%= f.submit "Send Message", class: 'btn btn-success' %></div>
  </div>
<% end %>
