<h1>Messages</h1>
<table class="contact table table-condensed">
  <tr>
    <th>Subject</th>
    <th>Content</th>
    <th>Source IP</th>
    <th></th>
  </tr>
  <% if @contacts.nil? %>
    <tr>
      <td>No messages</td>
    </tr>
  <% else %>
    <% @contacts.each do |message| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= link_to message.subject, message %></td>
        <td><%= smart_truncate(message.content, :sentences => 3) %></td>
        <td><%= message.source_ip %></td>
        <td><%= link_to "Archive", archive_contact(message), method: :post, class: message_archive %></td>
      </tr>
    <% end %>
  <% end %>
</table>
