<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= image_tag @project.image.url(:thumb) unless !@project.image.exists? %><br />
    <%= f.label :image, "Project Logo or Screenshot" %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :summary, "Project Summary" %>
    <p>Projects should have a short summary for the 'My Projects' page, it should introduce the project and outline its purpose.</p>
    <%= f.text_area :summary, :height => "15" %>
  </div>
  <div class="field">
    <%= f.label :source_repository, "Source URL" %><br />
    <%= f.text_field :source_repository %>
  </div>
  <div class="field">
    <%= f.label :description, "Description (supports Markdown)" %><br />
    <%= f.text_area :description, :height => "50" %>
  </div>
  <%= f.fields_for :highlights do |h| %>
    <%= render 'highlight_fields', f: h %>
    <br />
  <% end %>
  <div class="field">
  <%= link_to_add_fields "Add Highlight", f, :highlights %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
