<article role="display_project" class="article">
  <header class="project">
    <h2 class="project_title"><%= @project.title %></h2>
    <%= image_tag @project.image.url(:large), :class => "project_image" if @project.image.exists? %>
    <%= link_to "View On Github", "http://github.com/#{@project.github}" unless @project.github.blank? %>
  </header>
  <div class="admin-links">
    <%= link_to 'Edit', edit_project_path(@project) if admin_signed_in? %><br />
    <%= link_to 'Refresh From Github', project_refresh_path(@project) if admin_signed_in? and !@project.github.blank? %>
  </div>
  <p>
    <%= markdown(@project.description) %>
  </p>
</article>
