<div class="project_nav">
  <%= link_to "<< Back", projects_path %>
</div>
<div class="display_project">
  <h2 class="project_title"><%= @project.title %></h2> 
  <% if !@project.source_repository.empty? %>
  <small><%= link_to "Source Code", @project.source_repository %></small>
  <% end %>
  <div class="project_image">
    <%= image_tag @project.image.url(:medium) %>
  </div>
  <div class="project_body">
    <%= markdown(@project.description) %>
  </div>


<%= link_to "<< Back", projects_path %>
<% if admin_signed_in? %> | 
<%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
</div>