<article class="article">
  <header>
    <h3>Sign in</h3>
  </header>

  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in", :class => 'btn' %>
  <% end %>
</article>
