<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper %></title>
    <%= stylesheet_link_tag "application" %>
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="main">
    <nav>
      <%= render :partial => 'welcome/links' %>
    </nav>
    <section class="column-right">
      <header class="centre aboutme">
        <%= render :partial => 'welcome/info' %>
      </header>
      <article class="centre">
        <%= render :partial => 'welcome/social' %>
      </article>
      <article>
        <%= render partial: 'shared/activity_log' %>
      </article>
      <article>
        <%= render :partial => 'layouts/login_items' %>
      </article>
    </section>
    <section class="column-left">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg  %>
        </div>
      <% end %>

      <%= yield %>
    </section>
    <footer class="main-footer">
      <%= render :partial => 'shared/footer' %>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
