<!DOCTYPE html>
<html>
  <head>
    <title>petermellett.co.uk</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container-fluid" id="main">
      <!-- Start Header -->
      <div class="row-fluid">
        <div class="span9">
          <div id="header">
            <div id="logo">
            <%= link_to image_tag("logo.png"), root_url %>
            </div>
          </div>
        </div>
        <% if admin_signed_in? %>
        <div class="span3">
          <div id="aboutlinks">
            <%= link_to "New Article", new_article_path, :class => "btn btn-success" %>
            <%= link_to "Sign out", destroy_admin_session_path, :method => :delete, :class => "btn btn-danger" %>
          </div>
        </div>
      <% end %>
      </div>
      <!-- End Header -->
      <div class="row-fluid">
        <div class="span9">
          <div id="main"> 
            <% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= msg  %>
              </div>
            <% end %>
            <div class="main_content well">
              <%= yield %>
            </div>
          </div>
        </div>
        <div class="span3">
          <%= render :partial => 'welcome/info' %>
          <%= render :partial => 'welcome/tweet' %>
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/footer' %>
  </body>
</html> 