<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Start Header -->
    <div id="header">
      <div class-"container-fluid">
        <div class="row-fluid">
          <div class="span6">
            <div class="info">
              <%= render :partial => 'welcome/info' %>
            </div>
          </div>
          <div class="span6">
            <%= render :partial => 'layouts/login_items' %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header -->
    <div class="container-fluid" id="main">
      <div class="row-fluid">
        <div class="navigation">
          <div class="navlinks">
            <%= render :partial => 'welcome/links' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span10 offset1">
          <div>
            <% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= msg  %>
              </div>
            <% end %>
            <div class="main_content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>